html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: "Barlow", sans-serif;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.site-header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 18px 0;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.site-header__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.site-header__end-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.site-header__link {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
}

.site-header__first-btn {
  background: transparent;
  background-repeat: no-repeat;
  background-image: url(../images/first.svg);
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
}

.site-header__second-btn {
  background: transparent;
  width: 29px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url(../images/second.svg);
  cursor: pointer;
  border: none;
}

.site-header__third-btn {
  display: flex;
  align-items: center;
  padding: 7px 17px;
  border: none;
  background: #46A358;
  border-radius: 6px;
}

.site-header__third-text {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-left: 4px;
}

.site-header__mobile {
  display: none;
}

.site-header__mobile-search {
  background: transparent;
  display: none;
  background-repeat: no-repeat;
  background-image: url(../images/header-mobile.svg);
}

@media screen and (max-width: 850px) {
  .site-header__block {
    display: none;
  }
  .site-header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 41px 0 17px 0;
  }
  .site-header__mobile-search {
    display: inline-block;
    background-color: #F8F8F8;
    padding: 15px 0 14px 11px;
    border-radius: 10px;
    border: none;
  }
  .site-header__mobile-set {
    width: 45px;
    height: 45px;
    padding: 11px;
    background-color: rgba(70, 163, 88, 0.4509803922);
    background-repeat: no-repeat;
    background-image: url(../images/header-mobile.svg);
    background-position: center;
    background-position: center;
    box-shadow: 0px 10px 20px rgba(70, 163, 88, 0.3019607843);
    border: none;
    border-radius: 14px;
  }
}
.planet {
  padding-top: 12px;
}

.planet__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.5019607843);
}

.planet__label {
  font-family: "Cera Pro";
  font-style: normal;
  max-width: 205px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D3D3D;
  margin-bottom: 7px;
}

.planet__title {
  font-family: "Cera Pro";
  font-style: normal;
  max-width: 590px;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3D3D3D;
  margin-bottom: 5px;
}

.planet__text {
  font-family: "Cera Pro";
  font-style: normal;
  max-width: 557px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  margin-bottom: 44px;
}

.planet__link {
  padding: 11px 27px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #46A358;
  border-radius: 6px;
}

@media screen and (max-width: 1150px) {
  .planet__container {
    justify-content: center;
  }
  .planet__label {
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #3D3D3D;
    max-width: 140px;
    margin-bottom: 0;
  }
  .planet__title {
    font-size: 24px;
    line-height: 29px;
    max-width: 182px;
    margin-bottom: 3px;
  }
  .planet__text {
    font-size: 12px;
    line-height: 18px;
    max-width: 203px;
    margin-bottom: 10px;
  }
  .planet__link {
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #46A358;
    padding: 0;
    background: none;
  }
  .planet__img {
    width: 213px;
    height: 213px;
  }
}/*# sourceMappingURL=main.css.map */