.site-header__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 18px 0;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}
.site-header__list{
    display: flex;
    align-items: center;
    gap: 50px;
}
.site-header__end-list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.site-header__link{
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #3D3D3D;
}
.site-header__first-btn{
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../images/first.svg);
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
}
.site-header__second-btn{
    background: transparent;
    width: 29px;
    height: 23px;
    background-repeat: no-repeat;
    background-image: url(../images/second.svg);
    cursor: pointer;
    border: none;
}
.site-header__third-btn{
    display: flex;
    align-items: center;
    padding: 7px 17px;
    border: none;
    background: #46A358;
    border-radius: 6px;
}
.site-header__third-text{
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 4px;
}
.site-header__mobile{
    display: none;
    
}
.site-header__mobile-search{
    background: transparent;
    display: none;
    background-repeat: no-repeat;
    background-image: url(../images/header-mobile.svg);
    
}
@media screen and (max-width:850px) {
    .site-header__block{
        display: none;
    }
    .site-header__mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 41px 0 17px 0;
    }
    .site-header__mobile-search{
        display: inline-block;
        background-color: #F8F8F8;
       
        padding: 15px 0 14px 11px;
        border-radius: 10px;
        border: none;
    }
    .site-header__mobile-set{
        width: 45px;
        height: 45px;
        padding: 11px;
        background-color: #46a35873;
        background-repeat: no-repeat;
        background-image: url(../images/header-mobile.svg);
        background-position: center;
        background-position: center;
        box-shadow: 0px 10px 20px #46a3584d;
        border: none;
        border-radius: 14px;
    }
}